/* CSS Document */
/* color */ /* #A3D9BA */

a, a:hover, #site-title a:hover, .entry-title a:hover, #recentcomments li a, .widget ul li .rsswidget, .edit-i a, .comment-awaiting-moderation  {
	color: #A3D9BA;
}
nav, nav ul ul, .postformat, .page-header, .widget-title {
	background: #A3D9BA url(line.png) top left repeat-x;
}
.left-corner, .right-corner {
	background: transparent url(corners.png);
}

.entry-title a:hover, #copy a:hover, .date-i a:hover, .comment-i a:hover, .author-i a:hover, #recentcomments li:hover  {
	/*border-bottom:  1px dashed #A3D9BA;*/
}
.widget ul li a:hover {
	/*border-bottom:  1px dashed #A3D9BA;*/
	color: #A3D9BA;
	}
#submit, #searchform #searchsubmit {
	background: #A3D9BA url(line.png) top left repeat-x;
	border: 1px solid #A3D9BA;
}
#wp-calendar a, #wp-calendar #prev a:hover, #wp-calendar #next a:hover {
	background: #A3D9BA url(line.png) bottom left repeat-x;
	}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {color: #A3D9BA;}
/* --- --- [ Corners ] --- --- */

.left-corner {
	position: absolute;
	bottom: -9px;
	left: 0;
	width: 9px;
	height: 9px;
	background-position: 0px 9px;
}

.right-corner {
	position: absolute;
	bottom: -9px;
	right: 0;
	width: 9px;
	height: 9px;
	background-position: 9px 9px;
}
